<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=" UTF-8 "/>
    <meta name="viewport"
    content="width=device-width" , initial-scale="1.0" />
    <title>Iot</title>
</head>
<body>
<div class="fg_container"
 style="width: 80%; margin: 0 auto; padding: 40px; font-family: Montserrat, sans-serif;">
<!-- header -->
<header style="display: flex; align-items: center; justify-content: space-between; height: 120px; border-bottom: 1px
        solid #cedef2;">
<img src=" ./images/iotlogo.svg" alt="" />
<div class=" social_icons" style="display: flex; align-items: center; gap: 24px;">
<img src="Social icon - Twitter.png" alt="Twitter" />
<img src="FB.png" alt="Facebook" />
<img src="Social icon - IG.png" alt="Instagram" />
</div>
</header>
<!-- content -->
<div class=" content" style="padding: 40px 0; padding: 10px 0; line-height: 24px;">
<div class=" greet" style="font-size: 20px; font-weight: bold;">
<p>Hi! {{username}} welcome to the Safeline Iot</p>
</div>
<p class="message">Your Admin has created an Safeline Iot Admin account for you. Below here is your
Email and Password to access your account.
</p>

<!-- code -->
<div class= "credentials" style="font-size: 20px; text-shadow: rgb(134, 170, 225) 1px 0 10px;">
<div class="email">Email: <span style=" margin-left: 5px; font-size: 18px; color: rgb(120, 146, 225);">{{to}}</span></div>
<div class="email">Password: <span style=" margin-left: 5px; font-size: 18px; color: rgb(120, 146, 225);">{{userPassword}}</span></div>
</div>
<p>
    Whether you're here for your brand, for a cause, or just for fun —
    welcome!
</p>
<p>Thanks, <br/>{{to}}</p>
<p>
    This email was sent to
    <a style=" color: rgba(148, 162, 242, 1); text-decoration: underline;"
    onMouseOver="this.style.textDecoration='none';" onmouseout="this.style.textDecoration='underline'"
    href="mailto:angel@safelineiot.com">angel@iot.com</a>. If you'd
    rather not receive this kind of email, Don't want too many emails from
    Safeline Iot? <a style="color: rgba(148, 162, 242, 1); text-decoration: underline"
    onMouseOver="this.style.textDecoration='none';" onmouseout="this.style.textDecoration='underline';"
    href="#">Unsubscribe</a>.
</p>
<p>
    100 Smith Street, Melbourne VIC 3000 <br/>
    © 2023 Safeline Iot
</p>
</div>
</div>
</body>
</html>
                    

